---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  # Media Server
  jellyfin:
    image: linuxserver/jellyfin:{{ jellyfin.version }}
    restart: unless-stopped
    networks:
      - traefik_network
    ports:
      - 8096:8096
    volumes:
      - "{{ volumes_root }}/jellyfin/config:/config"
      - "{{ storage_dir }}/Video/Movies:/movies"
      - "{{ storage_dir }}/Video/TV:/tv"
    devices:
      - "/dev/dri:/dev/dri"
    environment:
      - PUID={{ uid_output.stdout }}
      - PGID={{ gid_output.stdout }}
      - TZ={{ common_timezone }}
      - DOCKER_MODS=linuxserver/mods:jellyfin-opencl-intel
{% include './labels.j2' %}
